# Stats701 Homework 5, Winter 2018
### David Guo
#### davidguo@umich.edu

Discussion: For problem 3, I discussed with Jeanhee Pak.

Time to do each homework problem:

- Problem 1 took about 2 hours (most in 1.1 and 1.3)

- Problem 2 took about 1 hour
    
- Problem 3 took about 4 hours (mostly in 3.4)

- Problem 4 took about 3 hours

- Write-up took about 2.5 hours

### 1

#### 1.1

To make sure the 0th element was printed, I started with 0 and None and added a base case part in \_\_next\_\_ for the first element.

In [5]:
class Fibo:
    '''Iterators of Fibonacci numbers'''
    
    def __init__(self):
        self.f, self.prev = 0, None
        
    def __next__(self):
        if self.prev == None:
            self.f, self.prev = 1, 0
            return 0
        else:
            (self.f, self.prev) = self.f + self.prev, self.f
            return(self.prev)
        
    def __iter__(self):
        return self

In [8]:
f = Fibo()
list(next(f) for _ in range(15)) # Test the first 15 Fibonnaci numbers

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

#### 1.2

Since we need to start at 0, I initialize at -1.

In [9]:
def integers():
    n = -1
    while True:
        n += 1
        yield n

In [11]:
h = integers()
list(next(h) for _ in range(10)) # Test first 10 non-negative integers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 1.3

Since we are looking at values greater than, and not including, 1, I set the range of values we are interested in as 2 and up to the penultimate value $n-1$. I do not include 1 or the value of interest $n$ since the remainder for $n/1$ and $n/n$ will be 0; I am looking for any terms that evenly divide the value and would then rule out that value as prime.

I map the remainder value being 0 to a boolean (True if remainder is 0). If any of these values between 2 and $n-1$ yields a remainder 0, that means $n$ is divisible by another number besides 1 and $n$. Using the $\texttt{any}$ function, as long as at least 1 of the values between 2 and $n-1$ has a remainder 0, we get it is $\texttt{True}$ that there is an additional divisor for $n$, i.e. the number is not prime.

So in the generator expression, we check if the $\texttt{any}$ expression is $\texttt{False}$, that is, no other values are remainders. This means the number is prime and we yield that value.

In the base case 2, we get an empty list and since it does not contain the value True, it gives False for the $\texttt{any}$ expression and works well with all other cases.

In [27]:
print(list(map(lambda x: divmod(2,x)[1] == 0, range(2, 2))))
print(any(list(map(lambda x: divmod(2,x)[1] == 0, range(2, 2)))))

[]
False

In [28]:
print(list(map(lambda x: divmod(5,x)[1] == 0, range(2, 5))))
print(any(list(map(lambda x: divmod(5,x)[1] == 0, range(2, 5)))))

[False, False, False]
False

In [29]:
print(list(map(lambda x: divmod(6,x)[1] == 0, range(2, 6))))
print(any(list(map(lambda x: divmod(6,x)[1] == 0, range(2, 6)))))

[True, True, False, False]
True

In [31]:
def primes():
    p = 1
    while True:
        p += 1
        if any(list(map(lambda x: divmod(p,x)[1] == 0, range(2, p)))) == False:
            yield p

In [32]:
p = primes()
list(next(p) for _ in range(10))  # Test first 10 primes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

### 2

#### 2.1

We follow the [expression iterable conditional] for list comprehension.

In [390]:
[x**2 for x in range(1,21) if x % 2 == 1]

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

#### 2.2

Since $\texttt{integers()}$ started from 0, we need to add the conditional $x > 0$ to exclude it so we can start from 1.

In [38]:
c = (x**3 for x in integers() if x > 0)
list(next(c) for _ in range(10)) # confirm the first 10 perfect cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

#### 2.3

We can simplify

$\left(\begin{array}{c}
n+2\\
3
\end{array}\right)	\\
=\frac{\left(n+2\right)!}{3!\left(n+2-3\right)!}\\
	=\frac{\left(n+2\right)\left(n+1\right)n\left(n-1\right)!}{3\cdot2\cdot1\cdot\left(n-1\right)!}\\
	=\frac{\left(n+2\right)\left(n+1\right)n}{6}$

Again, we need the conditional $n > 0$ since $\texttt{integers()}$ starts from 0.

In [39]:
t = (int(n * (n + 1) * (n + 2) / 6) for n in integers() if n > 0)
list(next(t) for _ in range(10)) # confirm the first 10 tetrahedral numbers

[1, 4, 10, 20, 35, 56, 84, 120, 165, 220]

### 3

We import $\texttt{functools}$ and $\texttt{itertools}$ at the beginning to ensure we have one-line code for each part. We show the full one-line code, and then explain each part following it. When we explain, we need to add list to print out the iterator values.

In [46]:
import functools
import itertools

#### 3.1

In [47]:
# then use map to generate the squares from this range
# Instead of using sum, we use functools.reduce


functools.reduce(lambda x, y: x + y, map(lambda x: x ** 2, filter(lambda x: x % 2 == 1, range(1,10))))

165

The filter part defines our range of odd numbers

In [48]:
list(filter(lambda x: x % 2 == 1, range(1,10)))

[1, 3, 5, 7, 9]

then we map the filtered iterator to the squares

In [49]:
list(map(lambda x: x ** 2, filter(lambda x: x % 2 == 1, range(1,10))))

[1, 9, 25, 49, 81]

then we take the sum by using reduce on the above iterator, which gives us the complete expression.

#### 3.2

In [498]:
functools.reduce(lambda x, y: x * y, map(lambda t: t[1], zip(range(1,18),primes())))

1922760350154212639070

To ensure that we do not define the generator $\texttt{primes()}$ in an additional line, we zip $\texttt{primes()}$ together with the values 1 to 17 to indicate the 1st 17 primes in tuples.

In [50]:
list(zip(range(1,18),primes()))

[(1, 2),
 (2, 3),
 (3, 5),
 (4, 7),
 (5, 11),
 (6, 13),
 (7, 17),
 (8, 19),
 (9, 23),
 (10, 29),
 (11, 31),
 (12, 37),
 (13, 41),
 (14, 43),
 (15, 47),
 (16, 53),
 (17, 59)]

Then we map the 2nd value of the tuple to get the first 17 prime numbers

In [53]:
list(map(lambda t: t[1], zip(range(1,18),primes())))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59]

Then we use multiplication for all terms using reduce to get the expression at the beginning.

#### 3.3

In [58]:
list(itertools.accumulate(map(lambda k: 1/k, range(1,11))))

[1.0,
 1.5,
 1.8333333333333333,
 2.083333333333333,
 2.283333333333333,
 2.4499999999999997,
 2.5928571428571425,
 2.7178571428571425,
 2.8289682539682537,
 2.9289682539682538]

We map the integers 1 to 10 into their reciprocals:

In [59]:
list(map(lambda k: 1/k, range(1,11)))

[1.0,
 0.5,
 0.3333333333333333,
 0.25,
 0.2,
 0.16666666666666666,
 0.14285714285714285,
 0.125,
 0.1111111111111111,
 0.1]

Then we use $\texttt{itertools.accumulate()}$ to add and save the partial sums.

#### 3.4

The linebreaks are for readability, but the code is one line.

The use of [-1] is to ensure generalizability if we wanted to get the geometric mean for a different number of terms. We would only need to change the range inside the zip.

In [90]:
list(map(lambda x, n: x ** (1/n),
             itertools.accumulate(
                 map(lambda t: t[1], zip(range(1,11), (int(n * (n + 1) * (n + 2) / 6) for n in integers() if n > 0))),
                 lambda x, y: (x * y)), 
             range(1,11)
        )
    )[-1]

29.91378180628326

Like in 3.2, we zip the range we are interested in with the tetrahedral generator to avoid a new line starting the generator, then take the 2nd element of the tuple, the tetrahedral number, and map that into an iterator.

In [91]:
list(zip(range(1,11), (int(n * (n + 1) * (n + 2) / 6) for n in integers() if n > 0)))

[(1, 1),
 (2, 4),
 (3, 10),
 (4, 20),
 (5, 35),
 (6, 56),
 (7, 84),
 (8, 120),
 (9, 165),
 (10, 220)]

In [92]:
list(
     map(lambda t: t[1], zip(range(1,11), (int(n * (n + 1) * (n + 2) / 6) for n in integers() if n > 0)))
    )

[1, 4, 10, 20, 35, 56, 84, 120, 165, 220]

Then we take the partial products using $\texttt{itertools.accumulate()}$.

In [93]:
list(
    itertools.accumulate(
            map(lambda t: t[1], zip(range(1,11), (int(n * (n + 1) * (n + 2) / 6) for n in integers() if n > 0))), 
            lambda x, y: (x * y) 
    )
)

[1,
 4,
 40,
 800,
 28000,
 1568000,
 131712000,
 15805440000,
 2607897600000,
 573737472000000]

We use the map lambda expression taking 2 iterators, where the first one is the partial products defined above, and the second is which term we are on. We raise the partial product to $1/n$.

$\texttt{lambda x, n: x ** (1/n), partial_products, range(1,11)}$

We then list to get all partial geometric means up to 10.

In [89]:
list(map(lambda x, n: x ** (1/n),
             itertools.accumulate(
                 map(lambda t: t[1], zip(range(1,11), (int(n * (n + 1) * (n + 2) / 6) for n in integers() if n > 0))),
                 lambda x, y: (x * y)), 
             range(1,11)
        )
    )

[1.0,
 2.0,
 3.4199518933533937,
 5.3182958969449885,
 7.752318483841891,
 10.77848387628214,
 14.45261646473134,
 18.830021843201887,
 23.96557410686221,
 29.91378180628326]

### 4

#### 4.1

In [115]:
def eval_poly(x, coeffs):
    return(functools.reduce(lambda u, v: u + v, map(lambda n, a: a * (x ** n), range(len(coeffs)), coeffs)))

We define the lambda expression 

$\texttt{lambda n, a: a * (x ** n)}$ 

where n is the power and a are the coefficients. Specifically, n will be the powers 0 to n, taken from the length of the coeffs list, and then the coefficients themselves are taken from the list coeffs. We use an example x and coeffs below to demonstrate

In [116]:
x = -3
coeffs = [1, 1, -2, -2]

In [117]:
list(map(lambda n, a: a * (x ** n), range(len(coeffs)), coeffs))

[1, -3, -18, 54]

We then use reduce to add up all the terms, which gives us the value of the polynomial at x.

In [118]:
eval_poly(x, coeffs)

34

#### 4.2

In [120]:
def make_poly(coeffs):
    return lambda x: coeffs[0] + functools.reduce(lambda s, i: (s  + coeffs[i]) * x, range(len(coeffs)-1,0,-1), 0)

In [121]:
make_poly([1,2,3])(3)

34

It helped to look at a simpler case, such as a 4th degree polynomial. We ignore the 0th coefficient at the moment.
We can re-write this to have more of a semblance to a recursive formula. 0 is the initial value.

$a_{1}x+a_{2}x^{2}+a_{3}x^{3}+a_{4}x^{4}\\
    =x\cdot\left(a_{1}+a_{2}x+a_{3}x^{2}+a_{4}x^{3}\right) \\
	=x\cdot\left(a_{1}+x\cdot\left(a_{2}+a_{3}x+a_{4}x^{2}\right)\right) \\
	=x\cdot\left(a_{1}+x\cdot\left(a_{2}+x\cdot\left(a_{3}+a_{4}x\right)\right)\right) \\
	=x\cdot\left(a_{1}+x\cdot\left(a_{2}+x\cdot\left(a_{3}+x\cdot\left(0+a_{4}\right)\right)\right)\right)$

Using the example from https://docs.python.org/3/library/functools.html,

"$\texttt{reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])}$ calculates $\texttt{((((1+2)+3)+4)+5)}$"

We can re-write our polynomial expression like

$\left(\left(\left(\left(0+a_{4}\right)\cdot x+a_{3}\right)\cdot x+a_{2}\right)\cdot x+a_{1}\right)\cdot x$

So our lambda expression will take two arguments, the updated accumulated sum s, and the list of coefficients a in descending order. The descending order of coefficients (excluding 0th) is:

In [124]:
list(range(len(coeffs)-1,0,-1))

[3, 2, 1]

But instead of just adding like in the example ($\texttt{s + coeffs[i]}$), we need to multiply by x before we update the accumulator. We start our sum $\texttt{s}$ at 0, so then our lambda expression inside the reduce function is:

In [128]:
functools.reduce(lambda s, i: (s  + coeffs[i]) * x, range(len(coeffs)-1,0,-1), 0)

33

Since we left out the 0th coefficient we just add it on to the reduce expression we had above.